<!-- Local resources link -->
<link
  type="text/css"
  href="../../node_modules/@materializecss/materialize/dist/css/materialize.min.css"
  rel="stylesheet"
/>
<link type="text/css" href="styles/user-info.css" rel="stylesheet" />

<!-- Load local script -->
<script
  type="text/javascript"
  src="../../node_modules/@materializecss/materialize/dist/js/materialize.min.js"
></script>
<script type="text/javascript" src="components/user-info.js"></script>

<div class="row base-div">
  <div class="col s7 col-username">
    <div id="ui-username">USERNAME</div>
  </div>
  <div class="col s8 col-login">
    <a class="waves-effect waves-light btn localizable" id="ui-login-btn">
      <i class="material-icons left">exit_to_app</i>
      Login
    </a>
  </div>
  <div class="col s5 col-spinner">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s4 col-avatar">
    <img id="ui-avatar" src="../../resources/images/not-logged.webp" />
  </div>
</div>
