<!-- Local resources link -->
<link type="text/css" href="styles/material-button.css" rel="stylesheet" />
<link type="text/css" href="styles/recommended-card.css" rel="stylesheet" />

<!-- Load local script -->
<script type="text/javascript" src="components/recommended-card.js"></script>

<div class="card medium hoverable" id="rc-card">
  <!-- Click on the image to show the hidden side of the card -->
  <div class="card-image waves-effect waves-block waves-light">
    <img
      class="activator"
      id="rc-preview"
      src="../../resources/images/f95-logo.webp"
    />
  </div>

  <!-- Front face of the card, contains the buttons and the main informations about the game -->
  <div class="card-content">
    <!-- Game's informations -->
    <span class="card-title truncate" id="rc-name">Game name</span>
    <span class="card-description">
      <span id="rc-version-title" class="inline localizable">Current version:</span>
      <span id="rc-available-version">v.1.2.3.4</span>
    </span>

    <!-- Action buttons -->
    <div class="card-action recommended">
      <a class="waves-effect waves-light btn localizable truncate" id="rc-open-thread-btn" target="_blank">
        <i class="material-icons md-public left"></i>
        Open Thread
      </a>
    </div>
  </div>

  <!-- Hidden side of the card, contains addictional informations -->
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4 localizable" id="rc-overview-title">
      <i class="material-icons md-close right"></i>
      Overview
    </span>
    <p id="rc-overview">Game overview</p>
    <p>
      <b class="inline localizable" id="rc-author-title">Author:</b>
      <span id="rc-author">Author</span>
    </p>
    <p>
      <b class="inline localizable" id="rc-last-update-title">Last update:</b>
      <span id="rc-last-update">Last update date</span>
    </p>
    <p>
      <b class="inline localizable" id="rc-engine-title">Used Engine:</b>
      <span id="rc-engine">Engine</span>
    </p>
    <p>
      <b class="inline localizable" id="rc-status-title">Game status:</b>
      <span id="rc-status">Status</span>
    </p>
    <p>
      <b class="localizable" id="rc-tags-title">Tags:</b>
      <span id="rc-tags">...</span>
    </p>
  </div>
</div>
