<!-- Local resources link -->
<link
  type="text/css"
  href="../../node_modules/materialize-css/dist/css/materialize.min.css"
  rel="stylesheet"
/>
<link type="text/css" href="styles/user-info.css" rel="stylesheet" />

<!-- Load local script -->
<script
  type="text/javascript"
  src="../../node_modules/materialize-css/dist/js/materialize.min.js"
></script>
<script type="text/javascript" src="components/user-info.js"></script>

<div class="row base-div">
  <div class="col s7 col-username">
    <div id="username">USERNAME</div>
  </div>
  <div class="col s8 col-login">
    <a class="waves-effect waves-light btn" id="login-btn">
      <i class="material-icons left">exit_to_app</i>
      Login
    </a>
  </div>
  <div class="col s4 col-avatar">
    <img id="avatar" src="../../resources/images/not-logged.png" />
  </div>
</div>
