<!-- Local resources link -->
<link type="text/css" href="styles/material-button.css" rel="stylesheet" />
<link type="text/css" href="styles/game-card.css" rel="stylesheet" />

<!-- Load local script -->
<script type="text/javascript" src="components/game-card.js"></script>

<div class="card medium" id="gc-card-preloader">
  <div class="card-content preload-container">
    <div class="preloader-wrapper big active center-align">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card medium hoverable" id="gc-card">
  <!-- Click on the image to show the hidden side of the card -->
  <div class="card-image waves-effect waves-block waves-light">
    <img
      class="activator"
      id="gc-preview"
      src="../../resources/images/f95-logo.webp"
    />
    <div class="progress" id="gc-card-progressbar">
      <div class="indeterminate"></div>
    </div>
  </div>

  <!-- Front face of the card, contains the buttons and the main informations about the game -->
  <div class="card-content">
    <!-- Game's informations -->
    <span class="card-title truncate" id="gc-name">Game name</span>
    <span class="card-description">
      <span id="gc-version-title" class="inline localizable">Current version:</span>
      <span id="gc-installed-version">v.1.2.3.4</span>
    </span>

    <!-- Action buttons -->
    <div class="card-action">
      <div class="action-p">
        <a class="waves-effect waves-light btn localizable accept-button truncate" id="gc-play-game-btn">
          <i class="material-icons left">gamepad</i>
          Play
        </a>
        <div class="separator"></div>
        <a class="waves-effect waves-light btn localizable negative-button truncate" id="gc-delete-game-btn">
          <i class="material-icons left">delete</i>
          Remove
        </a>
      </div>
      <div class="update-p">
        <a class="waves-effect waves-light btn truncate neutral-button" id="gc-update-game-btn">
          <i class="material-icons left">file_download</i>
          Update (v.1.2.3.4)
        </a>
      </div> 
    </div>
  </div>

  <!-- Hidden side of the card, contains addictional informations -->
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4 localizable" id="gc-overview-title">
      <i class="material-icons right">close</i>
      Overview
    </span>
    <p id="gc-overview">Game overview</p>
    <p>
      <b class="inline localizable" id="gc-author-title">Author:</b>
      <span id="gc-author">Author</span>
    </p>
    <p>
      <b class="inline localizable" id="gc-last-update-title">Last update:</b>
      <span id="gc-last-update">Last update date</span>
    </p>
    <p>
      <b class="inline localizable" id="gc-engine-title">Used Engine:</b>
      <span id="gc-engine">Engine</span>
    </p>
    <p>
      <b class="inline localizable" id="gc-status-title">Game status:</b>
      <span id="gc-status">Status</span>
    </p>
    <div class="center-align">
      <a class="waves-effect waves-light btn localizable" id="gc-f95-url" target="_blank" visit-url>
        <i class="material-icons left">public</i>
        F95 Original Thread
      </a>
    </div>
  </div>
</div>
