<!-- Local resources link -->
<link type="text/css" href="styles/thread-visualizer.css" rel="stylesheet" />

<!-- Load local script -->
<script type="text/javascript" src="components/thread-visualizer.js"></script>

<div class="row thread-container">
    <div class="flex col s6 m6 l6 xl6">
        <img id="game-preview" />
        <span id="game-info"></span>
    </div>
    <div class="flex col s6 m6 l6 xl6">
        <a class="waves-effect waves-light btn localizable" id="tv-visit" target="_blank">
            <i class="material-icons left">public</i>
            Visit Thread
        </a>
        <a class="waves-effect waves-light btn localizable accept-button" id="tv-mark-read">
            <i class="material-icons left">mark_email_read</i>
            Mark as read
        </a>
    </div>
</div>
