/* THIS FILE CONTAINS ALL GLOBABLE ELEMENTS TO THE APPLICATION WITH REGARD TO STYLES */
/* MUST BE IMPORTED IN ALL CSS FILES */

/*### Manages the link to the local icons of the material-design-icons package ###*/
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

/*### Manages the link to the materialize elements ###*/
@import '../../../node_modules/@materializecss/materialize/dist/css/materialize.min.css';

/*### Set the fonts to be used in the application ###*/
@font-face {
    font-family: Roboto;
    src: url(../../../resources/font/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../../../resources/font/Roboto-Bold.ttf);
    font-weight: bold;
}

/*### Global Variables ###*/
:root {
    --primary-app: #262626;
    --primary-light: #3F3F3F;
    --primary-dark: #000000;

    --secondary-app:#990000;
    --secondary-light: #D1432B;
    --secondary-dark: #650000;

    --text-on-primary: #f5f5f5;
    --text-on-secondary: #f5f5f5;

    --primary-gc: #252529;
    --primary-gc-light: #4C4C50;
    --primary-gc-dark: #000000;

    --text-on-primary-gc: #f5f5f5;
    
    --button-accept-color: #15A532; /* Dark Pastel Green */
    --button-negative-color: #C11313; /* Fire Brick */
    --button-neutral-color: #0A66BB; /* Denim */
}

/* Used to not highligh the non-input elements */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input,
button,
textarea,
:focus {
    outline: none;
}

/* Used to avoid dragging image (but not links) */
a:not([draggable=true]),
img:not([draggable=true]) {
    -webkit-user-drag: none;
}

a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"] {
    -webkit-user-drag: auto;
}