/* Import base styles */
@import "global.css";

html,
body {
  font-family: Roboto;
  background-color: var(--primary-app);
  color: var(--text-on-primary);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right bottom,
    #1d1d1e,
    #1f1f20,
    #212122,
    #242424,
    #262626
  );
  background-attachment: fixed;
}

.user-info-col {
  text-align: right;
}

#fab-add-game-btn {
  display: none;
}

.fixed-action-btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

#main-feedback-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

#main-feedback-section > a {
  flex: auto;
}

card-paginator {
  width: 100%;
  height: 100%;
}

/* Set text color for the selected element in language selector */
.select-dropdown {
  color: var(--text-on-primary);
}

/* Set color of the language select options*/
li[id^="select-options"] {
  background-color: var(--primary-light);
}

/*### Set size of avatar image ###*/
.avatar {
  object-fit: scale-down;
  width: 40px;
  height: 40px;
}

/*### Set the size and center the game/settings div ###*/
.tabcontent {
  margin: auto;
  width: 95%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*### Settings elements ###*/
.padding-correction-textinput {
  padding-top: 20px !important;
}

.divider {
  background-color: var(--secondary-app) !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

/*### Input selectors ###*/
#search-game-name,
#settings-username-txt,
#settings-password-txt {
  color: var(--text-on-primary);
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: var(--secondary-app) !important;
}

.input-field input[type="password"]:focus+label {
  color: var(--secondary-app) !important;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid var(--secondary-app) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app) !important;
}

.input-field input[type="password"]:focus {
  border-bottom: 1px solid var(--secondary-app) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app) !important;
}

/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid var(--secondary-app) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app) !important;
}

.input-field input[type="password"].valid {
  border-bottom: 1px solid var(--secondary-app) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app) !important;
}

/* Invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid var(--secondary-app) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app) !important;
}

.input-field input[type="password"].invalid {
  border-bottom: 1px solid var(--secondary-app) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: var(--secondary-app) !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--secondary-app) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app) !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label {
  color: var(--secondary-app) !important;
}
