/* Import base styles */
@import "global.css";

body {
    font-family: Roboto;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    background-image: url('../../../resources/images/background.png');
}

.user-info-col {
  text-align: right;
}

#add-game-btn {
  display: none;
}

/*### Set size of avatar image ###*/
.avatar {
  object-fit: scale-down;
  width: 40px;
  height: 40px;
}

/*### Set the size and center the game/settings div ###*/
.tabcontent{
  margin: auto;
  width: 90%;
}

/*### Search bar styles ###*/
#search-game-name:focus {
  color: var(--main-text-color);
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: var(--secondary-app-color) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid var(--secondary-app-color) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app-color) !important;
}

/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid var(--secondary-app-color) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app-color) !important;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid var(--secondary-app-color) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app-color) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: var(--secondary-app-color) !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid var(--secondary-app-color) !important;
  box-shadow: 0 1px 0 0 var(--secondary-app-color) !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label{
  color: var(--secondary-app-color) !important;
}