/* Import base styles */
@import "global.css";

body {
    font-family: Roboto;
    background-color: var(--primary-app);
    color: var(--text-on-primary);
}

#icon {
    width: 48px;
    height: 48px;
    flex-basis: 0%;
}

#title {
    font-size: 20px;
    padding-left: 10px;
    margin: 0;
}

.container {
    margin-top: 10px;
}

.header {
    display: flex;
    align-items:center;
}

.rounded-container {
    background-color: var(--primary-light);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    max-height: 300px;
    word-wrap: break-word;
    white-space: pre-line;
    overflow-y: auto;
    display: block;
}

.checkboxes-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.buttons-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.buttons-container > a {
    flex: auto; /* Adapt the buttons on the line */
}