/*### Import base styles ###*/
@import "global.css";

/*### ID elements ###*/
/* Manage the attributes for the preview image */
#rc-preview {
    background-color: var(--primary-gc);
    object-fit: cover;
    width: 300px;
    height: 200px;
}

/* Handles colors for the texts */
#rc-name {
    color: var(--text-on-primary-gc);
}

/*### Class elements ###*/
.inline {
    display: inline-block;
}

.card .card-action {
    padding: 16px 20px;
}

.card-action {
    padding-top: 5px;
    display: flex;
    gap: 3px;
    flex-flow: column;
}

.card-action > a {
    flex: auto; /* The buttons occupy all the space needed for the content */
}

/* Handles properties for the entire body */
.card {
    max-width: 300px;
    background-color: var(--primary-gc) !important;
    font-family: Roboto;
}

/* Handles color for the various part of the card */
.card-description {
    color: var(--text-on-primary-gc);
}

.card-content {
    background-color: var(--primary-gc);
}

.card-reveal {
    color: black;
}