/*### Import base styles ###*/
@import "global.css";

div.thread-container {
    background-color: var(--primary-gc);
    color: var(--text-on-primary-gc);
    border-left: 6px solid var(--secondary-app);
    border-color: var(--secondary-app);
    padding: 0.01em 16px;
}

#game-preview {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px;
}

div.flex {
    display: flex;
    gap: 3px;
}

div.flex > * {
    display: none;
    flex: auto;
}