/*### Import base styles ###*/
@import "global.css";

div.base-div {
    background-color: var(--primary-dark);
    color: var(--text-on-primary);
    display: inline-block;
    margin: 0;
}

#ui-login-div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#ui-avatar {
    width: 45px;
    height: 45px;
    object-fit: scale-down;
    border-radius: 50%;
    margin: 0 auto;
    padding: 5px;
}

#ui-username {
    margin: 0 auto;
    padding: 15px;
}

.col-username {
    padding: 0 !important;
    display: none;
}

.col-spinner {
    margin: auto;
    padding: 5px !important;
    display: none;
}

.col-login {
    margin: auto;
    padding: 5px !important;
}

a.btn,
a.btn:hover {
    background-color: var(--secondary-app);
    color: var(--text-on-primary);
}